**/bin/
**/.settings/
**/.metadata/
**/.recommenders/
**/.idea/
**/Servers/
**/target/
**/build/
**/node_modules/
**/.vscode/
**/.DS_Store
**/x64/
**/x86/
**/.vs/
**/*.vcxproj
**/*.vcxproj.*
**/*.iml

